@model IEnumerable<Total>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Totales)
                </th>
            </tr>
        </thead>
        <tbody>
            @{int total = 0; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Totales)
                    </td>
                </tr>
                total += item.Totales; 
            }
            <tr>
                    <td>
                        TOTAL
                    </td>
                    <td>
                        @total
                    </td>
                </tr>
        </tbody>
    </table>
</div>
